{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        body {
            display: flex;
            height: 100% !important;
            text-align: center !important;
        }
    </style>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {% if game.state == 'NEW_GAME' %}
        <script>
            refreshForEveryMS(3000)
        </script>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="mb-auto"></div>
            <main class="px-3">
                <p class="fs-3">
                    Wpisz
                    <span class="fs-1 text-primary fw-bold">
                        <script>document.write('http://' + window.location.hostname)</script>
                    </span> w pasku adresu przeglądarki, aby do nas dołączyć.
                </p>
            </main>
            <div class="mt-auto"></div>
        </div>
    {% elseif game.state == 'STARTED' %}
        <script>
            refreshForEveryMS(1000)
        </script>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="mb-auto"></div>
            <main class="px-1">
                <p class="fs-1">
                    {{currentQuestion.text}}
                </p>
            </main>
            <div class="mt-auto"></div>
        </div>
    {% elseif game.state == 'FINISHED' %}
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="mb-auto"></div>
            <main class="px-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Gracz</th>
                        <th scope="col">Wynik</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for score in game.scores|sort((a,b) => a.score < b.score) %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ game.players|filter(p => p.id == score.player)|first.name }}</td>
                            <td>{{ score.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </main>
            <div class="mt-auto"></div>
        </div>
    {% else %}
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="mb-auto"></div>
            <main class="px-3">
                <p class="fs-3">
                    .
                </p>
            </main>
            <div class="mt-auto"></div>
        </div>
    {% endif %}
{% endblock %}
